.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    padding: 1rem;
    font-family: 'Golos Text', sans-serif;
    color: #73171F;
  }
  
  .form {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
  }
  
  .form h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #73171F;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #73171F;
    background-color: #222;
    color: #73171F;
    border-radius: 0.25rem;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem;
    background-color: #73171F;
    color: #111;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #73171F;
  }
  
  .link {
    color: #73171F;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin-top: 1rem;
  }
  
  .error {
    color: #822525;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    text-align: center;
  }