@font-face {
  font-family: 'Drexia';
  src: url('/fonts/Drexia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/fonts/GolosText-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: #b9b7b7;
  overflow-x: hidden;
}

body.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}